p.fperror {
	border: 1px solid #f00;
	background-color: #fcc;
}

p.fpupdated {
	border: 1px solid #0f0;
	background-color: #cfc;
}

body {
	padding: 0px 10px;
	background-color: #fff;
	height: 80%;
}

#popupmenu a {
	text-decoration: none;
	font-weight: bold;
}

#popupmenu {
   margin: 0;
   list-style: none;
   padding-left: 11px;
	background-color: #eee;
}

#popupmenu a {
   font-size: 16px;
   padding: 5px 7px;
   line-height: 30px;
}

#popupmenu a.current {
	background-color: #fff;
}

#popupmenu li {
   display: inline;
   line-height: 200%;
   list-style: none;
   text-align: center;
   white-space: nowrap;
   margin: 0;
   padding: 0;
}

#flickleft {
	float: left;
	width: 280px;
}

#flickright {
	float: right;
	width: 280px;
}

#flickfoot {
	clear: both;
}

.fpinserted {
	display: none;
	font-weight: bold;
}

.prevnext {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.usertable td {
	padding: 5px;
}

.usertable {
	margin-bottom: 15px;
}

a.page-numbers {
   border: 1px solid #ccc;
   padding: 5px;
   border-radius: 5px;
   background-color: #eee;
	text-decoration: none;
}

.prevnext .current {
   border: 1px solid #ddd;
   background-color: #ddd;
   padding: 5px;
   border-radius: 5px;
   color: #666;
}

a.page-numbers:hover {
   border: 1px solid #d54e21;
   padding: 5px;
   color: #d54e21;
   border-radius: 5px;
	text-decoration: none;
}
