p.fperror {
	border: 1px solid #f00;
	background-color: #fcc;
}

p.fpupdated {
	border: 1px solid #0f0;
	background-color: #cfc;
}

body {
	background-color: #fff;
}

#popupmenu a {
	text-decoration: none;
	font-weight: bold;
}

#popupmenu {
   margin: 0;
   list-style: none;
   padding-left: 11px;
	background-color: #eee;
}

#popupmenu a {
   font-size: 16px;
   padding: 5px 7px;
   line-height: 30px;
}

#popupmenu a.current {
	background-color: #fff;
}

#popupmenu li {
   display: inline;
   line-height: 200%;
   list-style: none;
   text-align: center;
   white-space: nowrap;
   margin: 0;
   padding: 0;
}

#flickleft {
	width: 280px;
	float: left;
}

#flickright {
	width: 280px;
	float: right;
}

#flickfoot {
	clear: both;
}

.fpinserted {
	display: none;
	font-weight: bold;
}

.prevnext {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}

.usertable td {
	padding: 5px;
}

.usertable {
	margin-bottom: 15px;
} 
